language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install coveralls pytest-cov
script:
  pytest --cov-report= --cov=pyluach tests/
after_success:
  coveralls
