alabaster==0.7.12
astroid==2.11.5
attrs==21.4.0
Babel==2.10.1
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
coverage==6.3.3
dill==0.3.5.1
docutils==0.17.1
execnet==1.9.0
flake8==4.0.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.4
iniconfig==1.1.1
isort==5.10.1
Jinja2==3.1.2
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.6.1
packaging==21.3
pep8==1.7.1
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.12.0
pylint==2.13.9
pyparsing==3.0.9
pytest==7.1.2
pytest-cache==1.0
pytest-cov==3.0.0
pytest-flakes==4.0.5
pytest-pep8==1.0.6
pytest-pylint==0.18.0
pytz==2022.1
requests==2.27.1
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==2.0.1
typing-extensions==4.2.0
urllib3==1.26.9
wrapt==1.14.1
zipp==3.8.0
